# Ignore Python virtual environments
venv/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore VS Code settings
.vscode/

# Ignore OS files
.DS_Store

# Ignore AWS SAM build artifacts
.aws-sam/

# Ignore Lambda deployment packages
*.zip

# Ignore local SAM CLI config
samconfig.toml

# Ignore logs
*.log
